body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
    background-color: rgba(245, 224, 207, 0.2);
}

input[type=text] {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    width: 100%;
    height: 32px;
    padding: 0px 10px;
    background-color: rgba(0,0,0,0.03);
    border: none;
    display: inline;
    color: #303030;
    font-size: 16px;
    font-weight: 400;
    float: left;
    text-align: left;

    -webkit-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.01), 1px 1px 0px rgba(255,255,255,1);
    -moz-box-shadow: inset 1px 1px 0px rgba(0,0,0,0.01), 1px 1px 0px rgba(255,255,255,1);
    box-shadow: inset 1px 1px 0px rgba(0,0,0,0.01), 1px 1px 0px rgba(255,255,255,1);
}

input[type=submit]  {
    width: 20%;
    height: 48px;
    margin-top: 24px;
    padding: 0px 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #544a40;
    line-height: 40px;
    background-color: #B9B29F;
    border: 1px #B9B29F solid;
    opacity: 1;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #e8e1c7;
    border: 1px #e8e1c7 solid;
}