body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
    background-color: rgba(245, 224, 207, 0.2);
    text-align: center;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
    margin: auto;

}
caption {
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}
th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: center;
}
td {
    padding: 10px;
}
tr:nth-child(odd) {
    background: white;
}
tr:nth-child(even) {
    background: #E8E6D1;
}
